#openSearch {
  position: absolute;
  top: 0;
  height: calc(100% - 2px);
  display: flex;
  align-items: center;
  column-gap: 8px;
  
    span {
      font-size: clamp(13px, 1.2vw, 16px);
      font-family: $bodyFont;
      font-weight: 400;
      color: $text-main;
    }
  
    svg {
      position: relative;
      top: 2px;
      width: 16px;
      height: auto;
      transform: scale(1);
      transition: all $trans3 ease;
      
        path {
          fill: $river;
          transition: all $trans3 ease;
        }
      
    }
    
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        
          svg {
            transform: scale(1.1);

              path {
                fill: $riverShade1;
              }

          }
        
      }
    }
  
}

.search-form {
  position: absolute;
  right: 20px;
  top: 1px;
  width: calc(100% - 20px);
  height: calc(100% - 2px);
  padding: 10px;
  background: #fff;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: all $trans2 ease;
  
    &.active {
      opacity: 1;
      visibility: visible;
    }
  
    label {
      flex-grow: 1;
    }
  
    input[type=search] {
      appearance: none;
      border: none;
      outline: none;
      width: 100%;
      height: 100%;
      font-size: 18px;
      padding-left: 10px;
      padding-right: 10px;
      z-index: 2;
      
        &::placeholder {
          color: $skyShade1;
        }
      
    }
    
    .search-submit {
      width: 50px;
      flex: 0 0 50px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 50px;
      flex: 0 0 50px;
      
        svg {
          width: 18px;
          height: auto;
          transform: scale(1);
          transition: all $trans3 ease;
          
            path {
              fill: $river;
              transition: all $trans3 ease;
            }
          
        }
        
        @media (hover: hover) and (pointer: fine) {
          &:hover {
            
              svg {
                transform: scale(1.1);
                
                  path {
                    fill: $riverShade1;
                  }
                
              }
            
          }
        }
      
    }
  
}

.search-results {
  
    h1 {
      text-transform: capitalize;
    }
  
}

.search-no-results {
  
    h1.no-results-title {
      margin-top: $m112;
      margin-bottom: $m16;
    }
    
    .alert-info {
      margin: auto;
      max-width: 600px;
    }
    
    .cta-wrap {
      margin-top: $m32;
    }
  
}