/******************************************************************

Stylesheet: Typography

******************************************************************/

/** HEADING STYLES **/
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
}

body:not(.wp-admin):not(.wp-customizer) {
  
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    font-weight: normal;
    font-family: $titleFont;

      a {
        text-decoration: none;
      }

  }

  h1,
  .h1 {
    font-size: $h1;
    font-weight: $h1Weight;
    line-height: 1.15;
  }

  h2,
  .h2 {
    font-size: $h2;
    font-weight: $h2Weight;
    line-height: 1.28;
  }

  h3,
  .h3 {
    font-size: $h3;
    font-weight: $h3Weight;
    line-height: 1.10;
  }

  h4,
  .h4 {
    font-size: $h4;
    font-weight: $h4Weight;
    line-height: 1.15;
  }

  h5,
  .h5 {
    font-size: $h5;
    font-weight: $h5Weight;
    line-height: 1.15;
  }

  h6,
  .h6 {
    font-size: $h6;
    font-weight: $h6Weight;
    line-height: 1.15;
  }
  
  .m1 {
    font-size: $b1;
    font-family: $titleFont;
    line-height: 1.1;
  }
  
  .m2 {
    font-size: 20px;
    font-family: $titleFont;
    line-height: 1.1;
  }

  /** BODY COPY STYLES **/

  p {
    font-size: $p;
    line-height: 1.2;

      .p-sm &, &.p-sm {
        font-size: $p-sm;
        line-height: 1.2;
      }
      
      .p-xs &, &.p-xs {
        font-size: $p-xs;
        line-height: 1.2;
      }
      
      .p-b4 &, &.p-b4 {
        font-size: $b4;
        line-height: 1.2;
      }
      
      .p-b5 &, &.p-b5 {
        font-size: $b5;
        line-height: 1.2;
      }

      &.p-legal {
        font-size: $p-legal;
        line-height: 1.2;
      }

  }
  
  .p-sm p {
    font-size: $p-sm;
    line-height: 1.2;
  }
  
  .p-xs p {
    font-size: $p-xs;
    line-height: 1.2;
  }

  .sub-text-sm, .eyebrow {
    font-family: $bodyFont;
    font-size: $sub-text-sm;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 700;

      .post-content & {
        font-size: $sub-text-sm;
        line-height: 1.2;
      }

  }

  .sub-text-lg {
    font-family: $bodyFont;
    font-size: $sub-text-lg;
    line-height: 1.15;
    text-transform: uppercase;
    font-weight: 700;

      .post-content & {
        font-size: $sub-text-lg;
        line-height: 1.15;
      }

  }
  
  strong, b {
    font-weight: 700;
    text-rendering: optimizelegibility;
  }

  em {
    font-style: italic;
  }

  del {
    text-decoration: line-through;
  }

  ul {
    list-style-position: inside;
  }

  li {
    font-size: inherit;
    line-height: inherit;
    margin-bottom: calc(#{$m8} * 0.8);
    
      &:last-of-type {
        margin-bottom: 0;
      }
    
  }
  
  .blog-copy {
    font-size: $p-xs;
    line-height: 1.6;

      h1, .h1 {
        font-size: $posth1;
        line-height: 1.15;
      }

      h2, .h2 {
        font-size: $posth2;
        line-height: 1.15;
        margin-bottom: $m24;
        margin-top: $m56;
      }

      h3, .h3 {
        font-size: $posth3;
        margin-bottom: $m24;
        margin-top: $m56;
      }

      h4, .h4 {
        font-size: $posth4;
        margin-bottom: $m24;
        margin-top: $m40;
      }

      h5, .h5 {
        font-size: $posth5;
        margin-bottom: $m24;
      }

      h6, .h6 {
        font-size: $posth6;
        margin-bottom: $m8;
      }

      p {
        line-height: 1.6;
        margin-bottom: $m24;
        font-size: $p-xs;
      }

      ul, ol {
        margin-bottom: $m24;
        list-style-position: outside;
        padding-left: $b1;

          li {
            //padding-left: $m16;
            
              ul {
                list-style: disc;
                margin-top: $m8;
              }

          }

      }
      
      ul {
        
          li {
            
              &::marker {
                font-size: 60%;
              }
            
          }
        
      }
      
      .has-small-font-size p, p.has-small-font-size {
        font-size: $p-xs !important;
      }
      
      .has-normal-font-size p,
      p.has-normal-font-size,
      .has-regular-font-size p,
      p.has-regular-font-size {
        font-size: $p-sm !important;
      }
      
      .has-medium-font-size p,
      p.has-medium-font-size {
        font-size: $p !important;
      }

      .has-large-font-size p,
      p.has-large-font-size {
        font-size: $h5 !important;
      }

      .has-larger-font-size p,
      p.has-larger-font-size {
        font-size: $h4 !important;
      }

      > :last-child {
        margin-bottom: 0;
      }

  }

  .post-copy {
    font-size: $p;
    line-height: 1.6;

      h1, .h1 {
        font-size: $h1;
        line-height: 1.15;
        //margin-bottom: $m48;
      }
      
      h2, .h2 {
        font-size: $h2;
        line-height: 1.15;
        //margin-bottom: $m48;
      }

      h3, .h3 {
        font-size: $h3;
      }

      h4, .h4 {
        font-size: $h4;
      }

      h5, .h5 {
        font-size: $h5;
      }

      h6, .h6 {
        font-size: $h6;
      }

      p {
        line-height: 1.2;
        //margin-bottom: $postItemMargin;
      }

      ul, ol {
        //margin-bottom: $postItemMargin;
        list-style-position: outside;
        padding-left: 18px;

          li {
            //padding-left: $m16;

              ul {
                list-style: disc;
                //margin-top: $m8;
              }

          }

      }

      > :last-child {
        margin-bottom: 0;
      }

  }
  
}

.page-copy {

    h2, .h2 {
      margin-bottom: $m24;
      margin-top: $m56;
    }

    h3, .h3 {
      margin-bottom: $m24;
      margin-top: $m56;
    }

    h4, .h4 {
      margin-bottom: $m24;
      margin-top: $m40;
    }

    h5, .h5 {
      margin-bottom: $m24;
    }

    h6, .h6 {
      margin-bottom: $m8;
    }

    p {
      margin-bottom: $m32;
    }

    ul, ol {
      margin-bottom: $m32;
      list-style-position: outside;
      padding-left: $b1;

        li {
          //padding-left: $m16;
          
            ul {
              list-style: disc;
              margin-top: $m8;
            }

        }

    }
    
    ul {
      
        li {
          
            &::marker {
              font-size: 60%;
            }
          
        }
      
    }

    > :last-child {
      margin-bottom: 0;
    }

}

.wp-admin {
  
    .acf-field-button-group label {

      h1,
      .h1,
      h2,
      .h2,
      h3,
      .h3,
      h4,
      .h4,
      h5,
      .h5,
      p {
        margin: 0;
      }
      
      h1,
      .h1 {
        font-size: $cms-h1 !important;
        font-weight: $h1Weight;
        line-height: 1.2 !important;
      }

      h2,
      .h2 {
        font-size: $cms-h2 !important;
        font-weight: $h2Weight;
        line-height: 1.28 !important;
      }

      h3,
      .h3 {
        font-size: $cms-h3 !important;
        font-weight: $h3Weight;
        line-height: 1.28 !important;
      }

      h4,
      .h4 {
        font-size: $cms-h4 !important;
        font-weight: $h4Weight;
        line-height: 1.36 !important;
      }

      h5,
      .h5 {
        font-size: $cms-h5 !important;
        font-weight: $h5Weight;
        line-height: 1.48 !important;
      }

      h6,
      .h6 {
        font-size: $cms-h6 !important;
        font-weight: $h6Weight;
        line-height: 1.5 !important;
      }
      
      p {
        font-size: $cms-p !important;
        font-weight: 400;
        line-height: 1.6 !important;

          .p-sm &, &.p-sm {
            font-size: $cms-p-sm !important;
            line-height: 1.6 !important;
          }
          
          .p-xs &, &.p-xs {
            font-size: $cms-p-xs !important;
            line-height: 1.4 !important;			
          }

          &.p-legal {
            font-size: $cms-p-legal;
            line-height: 1.6 !important;
          }
          
      }

    }
  
}