@layer components {
  .mc-accordion .carousel-item.active {
    border: 1px solid theme('colors.secondary');
    border-radius: 4px;
    background: theme('colors.white');
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .mc-accordion .carousel-item.active .content {
    height: auto;
  }
}

.mc-accordion .carousel-item:after {
  content: "";
  position: absolute;
  right: 16px;
  width: 14px;
  height: 8px;
  top: 30px;
  transform: translateY(-20%);
  transition: all 0.3s ease;
  transform-origin: 50% 20%;
  background: url("../../img/caret-down.png") no-repeat center;
}

.mc-accordion .carousel-item.active:after {
  transform: rotate(180deg);
}
