@import "grid/main";
@import "partials/variables";

@import "blocks/carousel";
@import "blocks/case-study";
@import "blocks/headline";
@import "blocks/hero";
@import "blocks/video-embed";

@import "components/banner";
@import "components/columns-layout";
@import "components/form-hero";
@import "components/logo-grid";
@import "components/media-text";
@import "components/testimonials";
@import "components/mc-infinite-carousel";

@import "../../template-parts/blocks/mc-logos/style.css";
@import "../../template-parts/blocks/mc-carousel/style.css";

.wp-block-acf-hero, .wp-block-acf-testimonial-block {
  max-width: 1400px;
  
    .contain {
      padding-left: 88px;
      padding-right: 88px;
      max-width: 840px;
      margin: auto;
    }
  
}
