@layer components {
  .mc-carousel .carousel-item.active {
    border: 1px solid theme('colors.secondary');
    border-radius: 4px;
    background: theme('colors.white');
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .mc-carousel .carousel-item.active .content {
    height: auto;
  }
}

.mc-carousel .carousel-item:after {
  content: "";
  position: absolute;
  right: 16px;
  width: 0;
  height: 0;
  border-top: 6px solid #003453;
  border-right: 4px solid rgba(0, 0, 0, 0);
  border-left: 4px solid rgba(0, 0, 0, 0);
  top: 30px;
  transform: translateY(-20%);
  transition: all 0.3s ease;
  transform-origin: 50% 20%;
}

.mc-carousel .carousel-item.active:after {
  transform: rotate(180deg);
}
