@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .mc-carousel .carousel-item.active {
    border: 1px solid theme('colors.secondary');
    border-radius: 4px;
    background: theme('colors.white');
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .mc-carousel .carousel-item.active .content {
    height: auto;
  }
}

.card-with-copy {
  @apply container mx-auto shadow-2xl px-8;
}
