@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/**
 * Import block component styles
 */
@import "../../template-parts/blocks/mc-accordion/style.css";
@import "../../template-parts/blocks/mc-banner-cta/style.css";

@layer components {
  .mc-btn-secondary {
    @apply text-xs sm:text-sm md:text-xl font-serif border-secondary border border-solid px-10 py-2 text-white hover:text-secondary rounded-full;
  }
  .mc-btn-primary {
    @apply text-xs sm:text-sm md:text-xl font-serif bg-secondary px-8 py-2 rounded-full text-primary hover:text-white;
    &:hover {
      @apply text-white;
    }
  }
  .mc-block-link {
    @apply text-lg underline relative text-primary hover:text-secondary cursor-pointer tracking-tight font-serif;
    &:after {
      @apply content-[''] block w-full h-[9px] w-[5px] absolute -right-3 bottom-1.5;
      content: "";
      background: url("../../img/caret-right-primary.png") no-repeat center;
    }
  }
  .mc-carousel .carousel-container {
    scroll-behavior: smooth;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }
  .mc-carousel button {
    color: transparent;
  }
  .mc-carousel .slide-arrow-prev {
    background: url("../../img/carousel_arrow_prev.png") no-repeat center;
  }
  .mc-carousel .slide-arrow-next {
    background: url("../../img/carousel_arrow_next.png") no-repeat center;
  }
}

.mc-drop-shadow-block {
  @apply container shadow-2xl px-8;
}

.mc-3-col {
  @apply grid grid-cols-3 gap-4;
}
